#mainText {

    font-style: italic ;
    font-weight: bold;
    font-size: 10em;
    line-height: 3em;
    color: yellowgreen;
    font-family: arial;
    margin : 0 auto;

}

#presentDescription {
    font-weight: bold;
    font-size: 5em;
    color : darkslateblue;
    font-family: arial;
    margin : 0 auto;
}
